:root {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.5rem;
}

h1,
h2 {
  text-transform: lowercase;
}

body {
  max-width: 160mm;
  margin: 0 auto;
  padding: 1rem;
}

blockquote {
  margin: 1rem 5px 1rem 0;
  border-left: 5px solid #505050;
  padding: 0 2rem;
  font-style: italic;
}
